<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kantin"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.admin.addnewkantin.AddNewKantinActivity"
            android:exported="false" />
        <activity
            android:name=".ui.admin.homeadmin.ui.ratingdetail.RatingDetailActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.admin.registeradmin.RegisterAdminActivity"
            android:exported="false"
            android:theme="@style/Theme.Kantin" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.admin.homeadmin.ui.riwayatadmin.RiwayatAdminActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.user.transaksi.TransaksiActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.user.rating.RatingActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.admin.editmenu.EditMenuActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.admin.addmenu.AddMenuActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.user.updateprofile.UpdateProifleActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.admin.homeadmin.HomeAdminActivity"
            android:exported="true"
            android:label="@string/title_activity_home_admin"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.user.order.OrderActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.user.cart.CartActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.user.profile.ProfileActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.user.kantin.KantinActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Kantin.ActionBar" />
        <activity
            android:name=".ui.admin.loginadmin.LoginAdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.Home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.user.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.login.LoginActivity"
            android:exported="true" />
    </application>

</manifest>